a:hover {
  text-decoration: none;
}
p {
  font-size: 20px;
}
.card {
 /* align-items:center; */
  width: 100%;
  padding: 55px;
  background: rgba(255, 255, 255, .6);
  box-shadow: .5em .5em .5em rgba(0, 0, 0, .4);
  position: relative;
  border-radius: 25px;
  margin:20px;
  }

.home-style {
  background-size: cover;
  margin-left: auto;
  margin-right:auto;
  padding-top: 100px;
  background-image: url('https://fwxdvw-dm2306.files.1drv.com/y3m47SyoqvU-hI-y95lcSJPNsb-haUOk5FQbmp0rgNUQrib1F6sJC0dVja--veZbBpO62VDV3hJpWNch06Ic1Jn-AjvS1QU7NE_tsvG7nSXSKDHnhwpwuZFyI1Yu1ixy-AbUmpFOfW1XyXBPQNDyQn9x8va1YfEhn0IIsIsFT0qWtM/IMG_4785.jpg?psid=1');
  background-repeat: no-repeat;
  }
.infocard {
  padding: 9%;
}
.img-circular {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  padding: 5px;
  background: rgba(255, 255, 255, .4);
  z-index: 1;
  }
.social {
  text-align: center;
  border-radius: 25px;
  background: rgba(255, 255, 255, .4);
}

.portfolio-style {
  background-size: cover;
  margin-left: auto;
  margin-right:auto;
  padding: 50px 10px 0 10px;
  background-image: url('https://f5qrva-dm2306.files.1drv.com/y3mE2d60TELcvwtmHCXi9ipuO-FbAMfDhP7MhidSYbU_uKtLAyRDh_2PmtlP4yMT8n8HtS0aC_Thwap-EM1qQ3NH3AE4AROunkz9QgJqPdh4x4bQTBa8DXKPIUFXCHEjLPzvOGX_mFv0yjdZbU9xT-0N7nRXs0e2HwXH1huWD3f91w/IMG_4988%20%282%29.jpg?psid=1');
  background-repeat: no-repeat;
  }

.experience-style {
  background-size: cover;
  margin-left: auto;
  margin-right:auto;
  padding-top: 50px;
  background-image: url('https://fcuesg-dm2306.files.1drv.com/y3m6LrIhAs_SQJWCK6NWqZ38Pk-F9Sl5KZb4gRTMDrNkyrSg3DQLNfoHz0lWxbmlhT1wTzwaFUoijQoIJ7gGoeuPjFk1PjG9V6jCxZoEYLzi4VaAG5HRqANu7f6ckSXqQTXQ6f2X2Bt8Zk4irCoTTnTHDfk7SfK6CB7s4_Olw9yK14/IMG_9331%20%282%29.jpg?psid=1');
  background-repeat: no-repeat;
  }
.skillset {
  padding: .25%;
  text-align: center;
  background: rgba(255, 255, 255, .6);
  font-size: 100px;
  border-radius: 25px;
}

.connect-style {
  margin-left: auto;
  margin-right:auto;
  background-color: #222222;
  color: #777;
  vertical-align: middle;
  padding:12.5px;
  }
.socialbottom {
  text-align: center;
  border-radius: 25px;
  vertial-align: 0px;
  }

.center-font {
  text-align: center;
  color: white;
  text-shadow: 5px 5px 3px black;
  }


.fa-twitter {
  color: #55acee;
}
.fa-twitter:hover {
  color: #fff;
}
.fa-github {
  color:#333;
}
.fa-github:hover {
  color: #fff;
}
.fa-fire {
  color: #4a2b0f;
}
.fa-fire:hover {
  color: #fff;
}
.fa-codepen {
  color: #000;
}
.fa-codepen:hover {
  color: #fff;
}
.fa-linkedin {
  color: #0075b2;
}
.fa-linkedin:hover {
  color: #fff;
}

.btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 5px;
font-size: 14px;
font-weight: normal;
line-height: 1.42857143;
text-align: center;
white-space: normal;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 2px outset rgba(0,0,0,0.9);
border-radius: 0px;
background:#c0c0c0;
text-shadow: 1px 1px 1px rgba(0,0,0,20);
box-shadow:3px 3px 3px rgba(0,0,0,0.5);

}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}
.btn:hover,
.btn:focus {
color: #333;
text-decoration: none;
}

a.btn {text-decoration:none;}

.btn:active,
.btn.active {
background-image: none;
outline: 0;
-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-primary {
color: #fff;
background-color: #428bca;
border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
color: #fff;
background-color: #3276b1;
border-color: #285e8e;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
background-color: #428bca;
border-color: #357ebd;
}
.btn-primary .badge {
color: #428bca;
background-color: #fff;
}
